

/* General Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: mullish;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
  text-align: center;

background-image: url(../assets/Img/Bg.png);

backdrop-filter: blur(300px);

backdrop-filter: blur(300px);

}


/* Navbar Styles  */


navbar{
  width: 1440px;
height: 80px;
flex-shrink: 0;
}

.nav2 {
display: flex;
align-items: center;
gap: 6px;
}
.nav2 .item {
  
color: var(--foundation-neutrals-n-700, #243757);
leading-trim: both;
text-edge: cap;
font-size: 14px;
font-family: Uber Move;
font-weight: 700;
line-height: 62px;
margin-right: 20px ;
}

.nav2 button {
  display: flex;
width: 135px;
max-height: 41px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: px;
border-radius: 6px;
background: #3187D7;
}

.logo  {


flex-direction: column;
flex-shrink: 0;
color: var(--foundation-neutrals-n-800, #15294B);
leading-trim: both;
text-edge: cap;
font-size: 34px;
font-weight: 500;
line-height: 2px;
margin-right: 130px;
text-align: center;
position: relative;
margin-left: auto; 
margin-right: 0;

}
.logo img {
width: 85px;
height: 67px;
flex-shrink: 0;
margin-top: 10px;
  
}
.textLogo {
display: inline-block;
margin-top: 10px;
width: 97px;
flex-direction: column;
flex-shrink: 0;
color: var(--foundation-neutrals-n-800, #15294B);
leading-trim: both;
text-edge: cap;
font-size: 24px;
font-family: Uber Move;
font-weight: 500;
line-height: 35px;
}
.imgLogo {
  width: 85px;
height: 67px;
flex-shrink: 0;
  margin: 0.7rem 0.7rem 1rem 0;
}

#nav-item{
 color: var(--foundation-neutrals-n-700, #243757);
leading-trim: both;
text-edge: cap;
font-size: 24px;
font-family: Uber Move;
font-weight: 700;
line-height: 62px;
margin-left: 30px;
}

#nav-item .item {
color: var(--foundation-neutrals-n-700, #243757);
leading-trim: both;
text-edge: cap;
font-size: 14px;
font-family: Uber Move;
font-weight: 700;
line-height: 62px;
margin-right: 20px ;
}
#nav-item .item:active {
  color: var(--foundation-tertiary-t-600, #FCA23A);
}
 .button {
  display: flex;
  width: 135px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 6px;
  background: #3187D7;
  max-height: 40px;
  margin: 20px 30px 0 30px;
  color: var(--foundation-neutral-n-0, #FFF);
}
.span-green {
color: var(--foundation-secondary-s-300, #88BE46);
text-align: center;
font-size: 22px;
font-family: Uber Move;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.1px;
}
.span-greenb {
  color: var(--foundation-secondary-s-300, #88BE46);
}
.span-blue {
color: var(--foundation-primary-b-300, #3187D7);
text-align: center;
font-size: 22px;
font-family: Uber Move;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.1px;
}
.span-blueb {
  color: var(--foundation-primary-b-300, #3187D7);
}
.span-yelow {
color: var(--foundation-tertiary-t-400, #FCAF55);
text-align: center;
font-size: 22px;
font-family: Uber Move;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.1px;
}
.span-yelowb {
  color: var(--foundation-tertiary-t-400, #FCAF55);
}
/* Hero styles */


.container {
  background-image: url(../assets/Img/Map.png);
  background-size: cover;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin-top: 60px;
}

.header-body h1 {
flex-direction: column;
flex-shrink: 0;
color: #091E42;
text-align: center;
font-size: 70px;
font-family: Uber Move;
font-weight: 700;
line-height: 74px;
position: relative;
margin-top: 0;
align-items: center;
}
.header-body p{
  display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: var(--foundation-neutrals-n-600, #354764);
text-align: center;
font-size: 18px;
font-family: Uber Move;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.1px;

}
  .intro-text {
    display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
  color: var(--foundation-neutrals-n-600, #354764);
text-align: center;
font-size: 18px;
font-family: Uber Move;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.1px;
  }
#primary-btn{
text-align: center;
font-size: 18px;
font-family: Roboto;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.1px;
  border-radius: 6px;
background: #3187D7;
margin-right: 20px;
font-size: 18px;
line-height: 30px;
color: var(--foundation-neutrals-n-0, #FFF);
margin-bottom: 20px;

}
#second-btn {
  color: var(--foundation-secondary-s-500, #53742B);
text-align: center;
font-size: 18px;
font-family: Roboto;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.1px;
  border-radius: 6px;
border: 1px solid var(--foundation-neutrals-n-0, #FFF);
background: var(--foundation-neutrals-n-0, #FFF);
margin-bottom: 20px;
}


/* About styles */

/* Lead page Section */
.lead {
  padding: 2% 4%;
}
.lead-text {
  font-size: 1rem;
  line-height: 1.4;
}
.lead-page {
  background-color: rgb(255, 255, 255);
}
  .lead-page,
  .lead {
    padding: 1% 5%;
  }
  .lead-container {
    padding: 4%;
    text-align: left;
  }
  .lead-img img {
    width: 100%;
    padding: 5%;
  }
  .lead-header {
display: flex;
width: 169px;
height: 37px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
display: flex;
width: 169px;
height: 37px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: var(--foundation-neutrals-n-600, #354764);
text-align: center;
font-size: 24px;
font-family: Uber Move;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.1px;
  }

  .lead h3 {
    display: flex;
width: 315px;
height: 154px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
font-size: 44px;
font-family: Uber Move;
font-weight: 700;
line-height: 50px;
letter-spacing: 0.1px;
  }
  .lead-text {
display: flex;
width: 615px;
height: 150px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: var(--foundation-neutrals-n-700, #243757);
font-size: 16px;
font-family: Uber Move;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.1px;
  }
  .lead-btn {
    margin: 2% 0;
  }
  .lead-line {
    margin: 3% 0;
  }
  .lead-img img {
width: 485px;
height: 377px;
flex-shrink: 0;
  padding: 2% 4%;
  margin: 2rem auto;
}
.lead-btn {
  margin: 1rem auto 3rem;
}

#read-btn{
  color: var(--foundation-neutral-n-0, #FFF);
text-align: center;
font-size: 14px;
font-family: Uber Move;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.1px;
  border-radius: 6px;
background: #3187D7;
}
.order1 {
  order: 1;
}
  .order1,
  .order2 {
    order: 0;
  }


  /* Description Styles */

  
.services {
  background-color: white;
  max-width: 100%;
}

.card {

height: 212px;
flex-shrink: 0;
  margin:2px auto;
  padding: 0;
  width: 453px;
height: 212px;
flex-shrink: 0;
border-radius: 16px;
background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.services-text {
  width: 90%;
  margin: 1.5% auto;
  margin-right: 20px;
}
.service-frame {
  width: 15%;
  margin: 1% auto 0;
}
.card-title {
 text-align: center;
font-size: 42px;
font-family: Uber Move;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.1px;
}
.card-text {
 color: #000;
font-size: 16px;
font-family: Uber Move;
font-style: normal;
font-weight: 100;
line-height: 20px;
letter-spacing: 0.1px;
}
.services-text {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #7d7987;
}
.service-header {
margin-top: 30px;
margin-bottom: 6p0px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: var(--foundation-neutrals-n-600, #354764);
text-align: center;
font-size: 36px;
font-family: Uber Move;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.1px;
}








/* How it works Style */



.works-header {
  display: flex;

flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: var(--foundation-neutrals-n-600, #354764);
text-align: center;
font-size: 46px;
font-family: Uber Move;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.1px;
}

.works-text {
  display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: var(--foundation-neutrals-n-700, #572424);
text-align: center;
font-size: 16px;
font-family: Uber Move;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.1px;
}
/* Counts Styles */

.Counts {
  background-color: #fff;
}
.Counts_Header {
  width: 110%;
height: 228px;
flex-shrink: 0;
background: var(--foundation-neutrals-n-600, #354764);
}
.Counts_Header h2 {
  padding: 60px 60px;
  display: flex;
width: 363px;
text-align:left;
flex-direction: column;
flex-shrink: 0;
color: var(--foundation-neutrals-n-0, #FFF);
font-size: 28px;
font-family: Uber Move;
font-style: normal;
font-weight: 700;
line-height: 38px;
}
.Counts_Header h3 {

 padding: 80px 0px 0px 0px;
flex-direction: column;
flex-shrink: 0;
color: var(--foundation-neutrals-n-0, #FFF);
font-size: 50px;
font-family: Uber Move;
font-style: normal;
font-weight: 700;
line-height: 38px;
}
.Counts_Header p {
  color: var(--foundation-neutrals-n-0, #FFF);
text-align: center;
font-size: 20px;
font-family: Uber Move;
font-style: normal;
font-weight: 700;
line-height: 64px;
}




/* Testimony  */


/* works */ 

.works{
  background-color: white;
}


/* Slider Section */

.testimonials-item {
  background-color: #ffffff;
  
}
.review_header h3 {
padding: 100px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #354764;
text-align: center;
font-size: 32px;
font-family: Uber Move;
font-style: normal;
font-weight: 700;
letter-spacing: 1.7px;
}
.testimonials {
  max-width:90% ;
height: 618px;
flex-shrink: 0;
margin: 4rem auto;
border-radius: 16px;
background: rgb(255, 255, 255);
box-shadow: 3px 3px 8px 0px rgba(245, 245, 245, 0.90), -3px -3px 6px 0px rgba(255, 255, 255, 0.90), 3px -3px 6px 0px rgba(245, 245, 245, 0.20), -3px 3px 6px 0px rgba(245, 245, 245, 0.20), -1px -1px 2px 0px rgba(245, 245, 245, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
}

.review  h4{
  display: flex;
width: 400px;
margin-bottom: 3%;
margin-top: 85%;
padding-bottom: 1px;
flex-shrink: 0;
color: var(--foundation-neutrals-n-90, #8993A4);
font-size: 17px;
font-family: Uber Move;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.1px;
}
.slider {
  display: flex;
}
.profile-container {
display: flex;
}
.profile-name {
  width: 38%;
  padding: 1%;
  color: #fff;
}
.profile-name .name {
 color: var(--foundation-neutrals-n-800, #15294B);
font-size: 18px;
margin-left: 10px;
font-family: Uber Move;
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.1px;
}
.profile-name .job {
color: var(--foundation-secondary-s-300, #88BE46);
font-size: 18px;
margin-left: 10px;
font-family: Uber Move;
font-style: normal;
font-weight: 700;
line-height: 22px;
letter-spacing: 0.1px;
margin-top: 10px;
}

.slider > div {
  padding: 1% 1%;
}
.profile-img {
  border-radius: 50%;
  object-fit: cover;
  object-position: 0 0;
  border: 4px solid #fff;
}

[class^="swiper-button"] {
  --swiper-navigation-size: 1.2rem;
  position: absolute;
  margin-left: 300px;
  padding-top: 99px;
  color: rgba(122, 134, 153, 1)!important;
}



/* sponsors  */

.sponsors{
  background-color: white;
}
.sponsors .Col {
width: 363px;
height: 224px;
flex-shrink: 0;
}


/* Footer section */
.footer {
  position: relative;
  display: flex;
  flex-flow: column;
  color: #fff;
 background: var(--foundation-primary-b-400, #225F97);
  text-align: left;
}
.textLogo {
  
  font-size: 1.8rem;
  font-weight: bold;
 
  display: inline-block;

  border-radius: 50%;
  text-align: center;
  margin: 0 0.7rem 1rem 0;
}
.imgLogo {
  margin: 0.7rem 0.7rem 1rem 0;
}
.description {
  width: 70%;
  color: #e0e0e0;
}
.col-footer {
  margin: 1.2rem;
}
.col-footer a {
  text-decoration: none;
  color: #e0e0e0;
  margin: 0;
}
.col-footer a:hover {
  text-decoration: underline;
}
.col-footer p {
  margin: 0;
}
.col-footer p:first-child {
  font-weight: 700;
  color: #fff;
}
.trademark {
  margin: 1rem;
  text-align: center;
  color: #ffffff;
}
[class^="element-footer"] {
  position: absolute;
  width: 22%;
}
.element-footer-right {
  z-index: -1;
  right: 0;
  top: -5%;
}
.element-footer-left {
  left: -2%;
  bottom: 0;
}




/* Tablet Media Query */
@media only screen and (max-device-width: 480px)  {

  .logo{
    width: 70px;
    margin-left: 40px;
    margin-top: 30px;
  }
   .logo .textLogo {
visibility: hidden;
margin-top: 10px;
   }
   .nav-item {
    font-size: 12px;
   }
  
  .nav-link {
    text-align: left;
  }

  .header-text h1 {
    font-size: 54px;
    line-height: 4.1rem;
  
  }
.lead-text {

 width: 300px;
 line-height: 18px;
margin-top: 32px;
margin-bottom: 30px;

}
.lead-img img {
  width: 500px;
  height: 227px;
}
.g-4  {
 
  margin-left: 6px;
}
.card {
  width: 300px;
  margin: 20px;
  padding: 5px;
}
.services {
  background-color: rgb(255, 255, 255);
  height: 2199px;

}
.service-header {
 display: flex;
  width: 300px;
  margin: 0px 40px;
  padding: 30px
}
.services-item {
width: 0;
height: 100px;
background: var(--foundation-primary-b-50, #ffffff);
margin-left: 0;
padding-bottom: 0px;
border-radius: 30px;

}
 .Counts_Header {
  width: 100%;
height: 428px;
flex-shrink: 0;
background: var(--foundation-neutrals-n-600, #354764);
}

.Counts_Header h2 {
  width: 400px;
  text-align: center;
  margin-top: 30px;
flex-shrink: 0;
color: var(--foundation-neutrals-n-0, #fbfbfb);
font-size: 28px;
font-family: Uber Move;
font-style: normal;
font-weight: 700;

}
.Counts_Header h3 {
margin-top: 0;
flex-direction: column;
flex-shrink: 0;
color: var(--foundation-neutrals-n-0, #ffffff);
font-size: 50px;
font-family: Uber Move;
font-style: normal;
font-weight: 700;

}
.Counts_Header p {
  color: var(--foundation-neutrals-n-0, #ffffff);
text-align: center;
font-size: 13px;
font-family: Uber Move;
font-style: normal;
font-weight: 700;
line-height: 24px;
}

.sponsors .Col {
width: 100%;
height: 79px;
flex-shrink: 0;
}

.testimonials-item {
  background-color: #ffffff;
  
}
.review_header h3 {
padding: 40px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #354764;
text-align: center;
font-size: 24px;
font-family: Uber Move;
font-style: normal;
font-weight: 700;
letter-spacing: 1.7px;
}
.testimonials {
height: 418px;
flex-shrink: 0;
margin: 4rem auto;
border-radius: 29px;
background: rgb(255, 255, 255);
box-shadow: 3px 3px 8px 0px rgba(245, 245, 245, 0.90), -3px -3px 6px 0px rgba(255, 255, 255, 0.90), 3px -3px 6px 0px rgba(245, 245, 245, 0.20), -3px 3px 6px 0px rgba(245, 245, 245, 0.20), -1px -1px 2px 0px rgba(245, 245, 245, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
}

.review  h4{
width: 203px;
margin-bottom: 3%;
margin-top: 88%;
padding-bottom: 3px;
flex-shrink: 0;
color: var(--foundation-neutrals-n-90, #8993A4);
font-size: 12px;
font-family: Uber Move;
font-style: normal;
font-weight: 500;
line-height: 12px;
letter-spacing: 0.1px;
}

.profile-name .name {
 color: var(--foundation-neutrals-n-800, #15294B);
font-size: 12px;
margin-left: 6px;
font-family: Uber Move;
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.1px;
}
.profile-name .job {
color: var(--foundation-secondary-s-300, #88BE46);
font-size: 12px;
margin-left: 6px;
font-family: Uber Move;
font-style: normal;
font-weight: 700;
line-height: 0px;
margin-top: 5px;

}
  .profile-container {
    flex-flow: row nowrap;
    flex: 0 1 10%;
    margin-bottom: 94%;
    margin-right: 39%;
  }

.slider > div {
  padding: 0% 1%;
}


[class^="swiper-button"] {
  --swiper-navigation-size: 0.5rem;
  position: absolute;
  margin-left: 155px;
  padding-top: 59px;
  color: rgba(122, 134, 153, 1)!important;
}

  .intro-header {
    font-size: 1.8rem;
    width: 100%;
  }
  .vector-services {
    left: -10%;
    right: 26.18%;
    width: 55%;
    top: 30%;
    transform: rotate(14deg);
    opacity: 0.7;
  }
  .element-services {
    left: 92.5%;
    width: 7%;
    top: 15.3%;
  }
  .card {
    height: fit-content;
    min-height: 250px;
  }
  .line {
    width: 3%;
  }
  /* Lead Section */
  .lead-line {
    width: 7%;
    color: #111;
    margin: 3% auto;
  }
  .btn {
    padding: 0.5rem 1.5rem;
  }
  .order1,
  .order2 {
    order: 0;
  }
  /* Slider Page */


  .profile-name {
    text-align: left;
    width: 40px;
    height: 40px;
  }


 
  /* Footer section */
  .footer {
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .col-footer p {
    margin: 0 0.2rem;
  }
  .col-footer {
    flex: 0 0 43%;
  }
  [class^="element-footer"] {
    width: 10%;
  }
  .element-footer-right {
    z-index: -1;
    right: 1%;
    top: -10%;
  }
  .element-footer-left {
    left: -1%;
    bottom: 0;
  }
}


/* Desktop Media Query */
@media (min-width:801px) {

  .services-item {
width: 1860px;
height: 884px;
background: var(--foundation-primary-b-50, #EAF3FB);
margin-left: 0%;
padding-top: 30px;
border-radius: 30px;
}


  .header-text {
    padding: 8% 5% 8% 0;
  }
  .intro-header {
    width: 85%;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
  }

  .header {
    font-size: 1.7rem;
  }
  /* Services Section */
  .vector-services {
    left: -10%;
    right: 26.18%;
    width: 55%;
    top: 20%;
    transform: rotate(14deg);
    opacity: 0.7;
  }
  .element-services {
    left: 86.5%;
    right: 0%;
    width: 7%;
    top: 48.3%;
  }
  .services-text {
 margin: 3% auto;
    font-size: 1.3rem;
  }
  .g-4 {
    padding: 0.5% 5%;

  }
  .card {
    margin: 1% 3%;
    min-height: 250px;
  }
  .service-frame {
    width: 14%;
    margin: 8% 8% 0;
  }
  .card-title {
    text-align: left;
    font-size: 1.2rem;
  }
  .card-text {
    width: 95%;
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.3;
    word-break: normal;
    color: #7d7987;
  }

  /* Slider Page */
  .testimonials {
    width: 35%;
    border-radius: 2rem;
    padding: 1.5rem 1rem 1rem;
  }
  .slider {
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1% 3%;
  }
  .profile-container {
    flex-flow: row nowrap;
    flex: 0 1 45%;
    margin-bottom: 84%;
    margin-right: 94%;
  }


  [class^="element-testimonial"] {
    width: 10%;
  }
  .element-testimonial-right {
    right: 1%;
    top: 0;
  }
  .element-testimonial-left {
    left: -4%;
    bottom: 10%;
    z-index: -1;
  }
  /* Footer section */
  .footer {
    padding: 7% 6%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .col-footer {
    flex: 0 0 15%;
  }
  .log {
    flex: 0 0 30%;
  }
  .trademark {
    position: absolute;
    bottom: 10PX;


  }
  [class^="element-footer"] {
    width: 7%;
  }
}
